@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --background-calculator: rgb(37, 128, 148);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background-calculator);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 540px;
  margin: 50px auto;
  background: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--background-calculator);
}
.container h1{
  margin-bottom: 20px;
  margin-top: 10px;
}
.calculadora{
  width: 500px;
}
.display{
  font-size: 1.5em;
  width: 100%;
  text-align:right;
  color: var(--background-calculator);
  border-radius: 5px;
  margin-bottom: 10px;
  
}
.btn{
  width: 100%;
  height: 40px;
  font-size: 1em;
  border-radius:5px;
  background-color: rgb(4, 113, 134);
  color:rgb(255, 255, 255);
  cursor: pointer;
  border: 1px solid var(--primary-color);
}
.btn:hover{
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
}
.btn-eq:hover, .btn-del:hover{
  background-color:rgb(24, 14, 160) ;
  color: rgb(255, 255, 255);
  border: 1px solid var(--primary-color);
}
.btn-del:hover{
  background-color: red;
}
.btn-eq, .btn-del{
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
}
a {
  text-decoration: none;
  color: var(--background-calculator);
}

a:visited {
  color: var(--background-calculator);
}